:root {
  --neutral: #fafafa;
  --zinc: #18181b;
  --light-grey: #e7e5e4;
  --sky: #034b6e;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
  color: var(--zinc);
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

label,
input {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 5px;
  font-size: 15px;
}

input {
  border-radius: 5px;
  margin-bottom: 5px;
}

textarea {
  width: 99%;
  height: 150px;
}

.cv-container {
  width: 1200px;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--zinc);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
}

.left-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  height: 100%;
  gap: 20px;
  border-radius: 5px;
}

.right-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-titles {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 2px var(--sky);
}

.footer {
  font-size: 20px;
  padding: 50px 0 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.work-experience-icon,
.education-icon,
.skills-icon {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
